h2 {
    text-align: center;
}
* {
    margin: 0;
}

body {
    font-family: Arial;
}

.card {
    width: 400px;
    padding: 20px;
    margin: 30px auto;
    border: 1px solid gray;
}

h2 {
    text-align: center;
}

p {
    color: #333;
}

#title {
    color: darkblue;
}

h2, p, a {
    font-family: Arial;
}

.info p {
    color: green;
}

.info > p {
    font-weight: bold;
}

h2 + p {
    color: orange;
}

a[href] {
    color: blue;
}

button:hover {
    background-color: lightgray;
}

button:active {
    background-color: gray;
}

h2::before {
    content: "★ ";
}

h2::after {
    content: " ★";
}

p::first-letter {
    font-size: 20px;
}